@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Made by <a href="https://az.linkedin.com/in/hasanahmadov" target="_blank">Hasan Ahmadov</a></p>
</div>
